.header {
  height: 64px;
  width: 100%;
  background: $MAIN_COLOR;

  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  width: 100%;
  padding: $GUTTER*2 $GUTTER/2 $GUTTER $GUTTER/2;
}

.grid {
  display: grid;
  grid-gap: 16px;
  margin-top: 16px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}